[Unit]
Description=Ventilation Control
After=network.target

[Service]
Environment="MQTT_BROKER_IP=192.168.1.60"
ExecStart=python3 /home/antau/homehub/automation/src/ventilation_control.py
Restart=always
User=antau

[Install]
WantedBy=multi-user.target