[Unit]
Description=Bed LEDStrip Control

[Service]
ExecStart=python3 /home/antau/homehub/automation/src/bed_ledstrip_control.py
Restart=always
User=antau

[Install]
WantedBy=multi-user.target