[Unit]
Description=Ventilation logger

[Service]
ExecStart=python3 /home/antau/homehub/automation/src/log-mqtt-data.py
Restart=always
User=antau

[Install]
WantedBy=multi-user.target