[Unit]
Description=Storage Light Control

[Service]
ExecStart=python3 /home/antau/homehub/automation/src/storage_light.py
Restart=always
User=antau

[Install]
WantedBy=multi-user.target