services:
  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.7.2
    volumes:
      - ~/config/zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    devices:      
      - /dev/ttyUSB1:/dev/ttyUSB1
    restart: always
    ports:
      # Frontend port
      - 8085:8080
    privileged: true
    environment:
      - TZ=Europe/Amsterdam
