---
services:
  homeassistant:
    image: homeassistant/home-assistant:2025.11.2
    container_name: homeassistant
    network_mode: host
    restart: unless-stopped
    privileged: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - ~/config/homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
      

